
uaa/nbactions.xml
webApp/nbactions.xml
webApp/nbactions.xml
WebApp/target/classes/application.yml
ConfigServer/nbactions.xml
EurekaServer/nbactions.xml
UaaService/nbactions.xml
UsersService/nbactions.xml
