<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Roles administration</title>
    </head>
    <body>
        <div class="content">
            <div layout:fragment="content">
                <table id="roles_table" class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Role name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>  
        <th:block layout:fragment="script">
            <script type="text/javascript">
                $(document).ready(function () {
                    var dataTable = $('#roles_table').DataTable({
                        processing: true,
                        serverSide: true,
                        ajax: {
                            url: "/ui/admin/roles/find",
                            contentType: "application/json",
                            type: "POST",
                            data: function (d) {
                                return JSON.stringify(d);
                            }
                        },
                        columns: [
                            {data: "id"},
                            {data: "name"},
                            {data: "description"}
                        ]
                    });
                });
            </script>
        </th:block>
    </body>
</html>
