<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Users administration</title>
    </head>
    <body>
        <div class="content">
            <div layout:fragment="content">
                <div id="users-content"></div>
            </div>
        </div>  
        <th:block layout:fragment="script">
            <script type="text/javascript" th:src="@{/built/usersecurity.js}"></script>
        </th:block>
    </body>
</html>
