<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Dashboard</title>
    </head>
    <body>
        <div class="content">
            <h3 id="pageTitle">Welcome</h3>
            <div layout:fragment="content">
                Welcome, <span th:text="${#authentication.name}">Name</span>
                <br/>     
            </div>
        </div>
    </body>
</html>