<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>LKU developer portal - email account confirmation</title>
        <style>
            body {
                background-color: rgb(250, 250, 250);
                color: #333333;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
            }

            a, a:hover {
                color: rgba(154,194,40,1);
            }
        </style>
    </head>
    <body>
        <div style="text-align: center">
            <div style="padding:20px 0 30px 0">
                <img src="data:image/png;base64,iVBORw0KGgoAAAxMi0xMFQxMTo0NzoyNCswMjowMCIgeG1wOk1vZGlmeURhdGU9IjIwGYsIVaQY3HmiTBRXSihEUUCr1YYkScuyJLf85Q1BENFsttBut5yhwaEnuru7nwbAbduGbdu8UCj8KZGQJ9zDM0J8vCa6Rm9f7x9Ny2qVymWk0+mj3d2FJ3RDh+6diWCaFhqNBhqNBrq7u/drmnbMNI2Yt/Dp1Gg0sGV0BLfe+m6cHBt748Tp8QsuufTSn7t/J6fRuvTSSyZGR0cmp6enzqrVquCco7+vF/vOOfeRubnZ67/zb3e8+Zmnn3nDDTfddNs73vGOendPN5qNJhzHQb3eAOe82d/f93Cz2Zw/7/zzcO3VV6LRbLLV5eXmxMTpac75LHPc48JrtRpyudzpDRuGHiIglf8PclSSI4RYGAcAAAAASUVORK5CYII=" alt="logo" />
            </div>
            <div style="text-align: center">To confirm your registration address, please click the link below</div>
            <div style="padding-top: 10px"><a th:href="${message}">confirm</a></div>
        </div>
    </body>
</html>