<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Base</title>
        <meta name="description" content=""/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/sandstone/bootstrap.min.css" />
        <!--        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.min.css" />-->
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="webjars/font-awesome/css/font-awesome.min.css"></link>
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Bootstrap Sidebar</h3>
                </div>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">
                <nav class="navbar navbar-dark bg-primary">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-right">                        
                        <div th:text="${session.loggedUser.fullName}" ></div>
                    </div>

                </nav>

                <div id="page-content-wrapper">
                    <h2>Collapsible Sidebar Using Bootstrap 3</h2>
                    <div class="content">
                        <div layout:fragment="content"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="webjars/jquery/jquery.min.js"></script>
        <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript">
             $(document).ready(function () {
                 $('.navbar-toggler').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $('#content').toggleClass('active');
                 });
             });
         </script>
        <th:block layout:fragment="scripts">
        </th:block>
    </body>
</html>