<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base">
    <head>
        <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Error</title>
    </head>
    <body>
        <div class="content">
            <h3 id="pageTitle">Error</h3>
            <div layout:fragment="content">
                <div class="alert alert-danger" style="width:800px" th:text="${error}"></div>   
            </div>
        </div>
    </body>
</html>